@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #0f0f0f;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 80%;
  margin: 50px auto 10px;
  gap: 30px;
  }


@layer components {
  .wrapper{
    padding: 2rem;
  }

  .fc{
    display: flex;
    align-items: center;
  }

  .fcc{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fbc{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}